<app-section header="Get in touch" [fullScreen]="expandFullScreen" [codeBlock]="{ methodName: 'reachOut' }">
  <p class="py-5">
    Have a question, or just want to say hello? Feel free to reach out with an email and I'll do my best to respond as
    quickly as possible.
  </p>
  <div class="flex justify-center">
    <a
      class="rounded border-2 border-pink-400 bg-pink-900/10 p-4 text-pink-400 hover:border-pink-900 hover:bg-pink-900 hover:text-pink-100 hover:duration-300 hover:ease-in-out"
      href="mailto:"
    >
      Contact me
    </a>
  </div>
</app-section>
