<app-section
  header="Things I've built"
  [marginBottom]="true"
  [codeBlock]="{ methodName: 'highlightWork', returnType: 'projects: Projects[ ]' }"
>
  <app-slide-in>
    <div class="flex h-full flex-col justify-between">
      <h3 class="mb-2 text-xl">
        <app-link href="https://github.com/progressive-insurance/oculr-ngx">oculr-ngx</app-link>
      </h3>
      <p class="mb-2">An Angular library that makes capturing analytics easy.</p>
      <ul class="flex gap-2 text-sm">
        <li>Angular</li>
        <li>TypeScript</li>
        <li>Library</li>
      </ul>
    </div>
  </app-slide-in>
  <app-slide-in>
    <div class="flex h-full flex-col justify-between">
      <h3 class="mb-2 text-xl">
        <app-link href="https://github.com/michael-parkins/typescript-component-template">
          typescript-component-template
        </app-link>
      </h3>
      <p class="mb-2">
        A quick TypeScript component template that includes linting, testing and a pipeline using GitHub actions.
      </p>
      <ul class="flex gap-2 text-sm">
        <li>TypeScript</li>
        <li>Template</li>
      </ul>
    </div>
  </app-slide-in>
</app-section>
