<div class="flex flex-col justify-center mb-20">
  <app-code-block-decoration methodName="highlightWork" returnType="projects: Projects[ ]">
    <div class="mx-6">
      <h2 class="text-3xl text-cyan-400 font-semibold">Things I've built</h2>
      <div>
        <h3>oculr-ngx</h3>
        <p>An Angular library that makes capturing analytics easy.</p>
      </div>
      <div>
        <h3>typescript-component-template</h3>
        <p>A quick TypeScript component template that includes linting, testing and a pipeline using GitHub actions.</p>
      </div>
    </div>
  </app-code-block-decoration>
</div>
