<div class="flex flex-col justify-center mb-20">
  <app-code-block-decoration methodName="detailSelf" returnType="string">
    <div class="mx-6">
      <h2 class="text-3xl text-cyan-400 font-semibold">About me</h2>
      <p class="pb-5">
        I'm an open source developer advocate. Currently, I co-lead the Open Source Program Office at
        <a class="cursor-pointer text-pink-400" href="https://www.progressive.com/">Progressive</a>. Any day I can help
        make something a bit easier for another developer is a great day.
      </p>
      <p class="pb-5">
        As a developer, my passion is around making great web apps and easy to consume API. Developing web apps is a
        chance to enjoy the blending of science and art. Being creative while considering usability, accessibility,
        inclusivity, and simplicity is perfection, like a delicious bowl of hot ramen 🍜.
      </p>
    </div>
  </app-code-block-decoration>
</div>
