<div class="mx-6 flex flex-col items-center justify-center py-6">
  <ul class="my-6 flex gap-x-4">
    <li>
      <a class="cursor-pointer" target="_blank" href="https://github.com/michael-parkins">
        <app-svg name="github" title="GitHub logo" classList="h-8 w-8"></app-svg>
      </a>
    </li>
    <li>
      <a class="cursor-pointer" target="_blank" href="https://twitter.com/d00dparkins">
        <app-svg name="twitter" title="Twitter logo" classList="h-8 w-8"></app-svg>
      </a>
    </li>
    <li>
      <a class="cursor-pointer" target="_blank" href="https://www.linkedin.com/in/michael-parkins/">
        <app-svg name="linkedin" title="LinkedIn logo" classList="h-8 w-8"></app-svg>
      </a>
    </li>
  </ul>
  <p>Designed and built by Michael Parkins.</p>
  <p>
    Check out the
    <app-link href="https://github.com/michael-parkins/personal-site-ngx">GitHub repo</app-link>.
  </p>
</div>
