<div class="mx-6 flex flex-col items-center justify-center py-6">
  <ul class="my-6 flex gap-x-4">
    <li *ngFor="let social of socials">
      <a class="cursor-pointer" target="_blank" [href]="social.url">
        <app-svg [name]="social.icon" [title]="social.name + ' logo'" size="md"></app-svg>
      </a>
    </li>
  </ul>
  <p>Designed and built by Michael Parkins.</p>
  <p>
    Check out the
    <app-link href="https://github.com/michael-parkins/personal-site-ngx">GitHub repo</app-link>.
  </p>
</div>
