<header class="sticky top-0">
  <nav #navList class="fixed left-full w-full h-full md:relative md:left-0">
    <div class="bg-zinc-900/95 m-2 h-full">
      <div class="flex justify-end md:hidden">
        <button (click)="toggleMenu()" class="m-4 p-2" aria-label="close menu">
          <svg
            class="h-10 w-10"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-labelledby="title"
            role="img"
          >
            <title>close icon</title>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <ul
        class="flex flex-col justify-center items-center text-2xl space-y-4 md:ml-4 md:flex-row md:justify-start md:space-x-4 md:space-y-0 md:my-4"
      >
        <li><a routerLinkActive="underline underline-offset-4" routerLink="home">Home</a></li>
        <li><a routerLinkActive="underline underline-offset-4" routerLink="about">About</a></li>
        <li><a routerLinkActive="underline underline-offset-4" routerLink="contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="md:hidden flex flex-row-reverse">
    <button class="m-4 p-2 rounded dark:bg-zinc-900/90" (click)="toggleMenu()" aria-label="open menu">
      <svg class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-labelledby="title" role="img">
        <title>menu icon</title>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>
  </div>
</header>
