<header class="sticky top-0 z-10">
  <nav #nav class="top-0 bottom-0 left-0 right-0 hidden md:block">
    <div class="h-full bg-zinc-900/95">
      <div class="flex justify-end md:hidden">
        <button (click)="toggleMenu()" class="m-4 p-2" aria-label="close menu">
          <app-svg name="close" title="close icon"></app-svg>
        </button>
      </div>
      <ul
        class="flex h-4/5 flex-col items-center justify-center space-y-4 text-2xl md:my-4 md:ml-4 md:flex-row md:justify-start md:space-x-4 md:space-y-0"
      >
        <li><a routerLinkActive="underline underline-offset-4" routerLink="home" (click)="closeMenu()">Home</a></li>
        <li><a routerLinkActive="underline underline-offset-4" routerLink="about" (click)="closeMenu()">About</a></li>
        <li>
          <a routerLinkActive="underline underline-offset-4" routerLink="contact" (click)="closeMenu()">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="flex flex-row-reverse md:hidden">
    <button class="m-4 rounded bg-zinc-900/90 p-2" (click)="toggleMenu()" aria-label="open menu">
      <app-svg name="menu" title="menu icon"></app-svg>
    </button>
  </div>
</header>
