<div class="h-screen-3/4 flex flex-col justify-center">
  <app-code-block-decoration methodName="sayHello" returnType="string">
    <div class="ml-6">
      <h1 class="text-3xl">Hi, I'm Michael,</h1>
      <p class="ml-6 text-2xl">but every one calls me d00d.</p>
      <p class="text-2xl">I'm a developer,</p>
      <p class="ml-6 text-2xl">a solution architect,</p>
      <p class="ml-6 text-2xl">and a developer advocate.</p>
    </div>
  </app-code-block-decoration>
</div>

<div class="h-screen-3/4 flex flex-col justify-center">
  <app-code-block-decoration methodName="detailSelf" returnType="string">
    <div class="ml-6">
      <h2 class="text-3xl">About me</h2>
      <p>
        I'm an open source developer advocate. Currently, I'm co-leading the Open Source Program Office at
        <a href="http://">Progressive</a>.
      </p>
    </div>
  </app-code-block-decoration>
</div>

<div class="h-screen-3/4 flex flex-col justify-center">
  <app-code-block-decoration methodName="highlightCareer" returnType="string">
    <div class="ml-6">
      <h2 class="text-3xl">My career</h2>
    </div>
  </app-code-block-decoration>
</div>

<div class="h-screen-3/4 flex flex-col justify-center">
  <app-code-block-decoration methodName="reachOut">
    <div class="ml-6">
      <h2 class="text-3xl">Get in touch</h2>
    </div>
  </app-code-block-decoration>
</div>
