<div class="h-screen-3/4 flex flex-col justify-center">
  <app-code-block-decoration methodName="sayHello" returnType="string">
    <div class="ml-6 text-3xl font-open-sans">
      <h1>Hi, I'm Michael Parkins</h1>
      <p>but everyone calls me d00d</p>
      <p>I'm a developer</p>
      <p>a solution architect</p>
      <p>and a developer advocate</p>
    </div>
  </app-code-block-decoration>
</div>

<app-code-block-decoration methodName="detailSelf" returnType="string">
  <h2>About me</h2>
  <p>
    I'm an open source developer advocate. Currently, I'm co-leading the Open Source Program Office at
    <a href="http://">Progressive</a>.
  </p>
</app-code-block-decoration>

<app-code-block-decoration methodName="highlightCareer" returnType="string">
  <h2>My career</h2>
</app-code-block-decoration>

<app-code-block-decoration methodName="reachOut">
  <h2>Get in touch</h2>
</app-code-block-decoration>

<ul>
  <li>icon links for github, dev.to, twitter, linkedin</li>
</ul>
