<app-section [fullScreen]="true" [codeBlock]="{ methodName: 'sayHello', returnType: 'string' }">
  <h1 class="text-3xl font-semibold md:text-6xl lg:text-8xl">Hi, I'm <span class="text-cyan-400">Michael</span>,</h1>
  <p class="ml-6 text-2xl md:ml-12 md:text-4xl lg:text-6xl">but everyone calls me d00d.</p>
  <p class="text-2xl md:text-4xl lg:text-6xl">I'm a web developer,</p>
  <p class="ml-6 text-2xl md:ml-12 md:text-4xl lg:text-6xl">solution architect,</p>
  <p class="ml-6 text-2xl md:ml-12 md:text-4xl lg:text-6xl">and developer advocate.</p>
</app-section>
